---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Car Insurance Claim Prediction">
  <h1>Car Insurance Claim Prediction</h1>
  <p>This page displays the interactive notebook for the project.</p>

  <iframe
    src="/notebook/car_insurance.html"
    width="100%"
    height="1200px"
    style="border:none;"
  ></iframe>
</Layout>
